body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.uppercase {
  text-transform: uppercase;
}

.color1 {
  color: #ec5242;
}

.color2 {
  color: #272a31;
}

#section1 {
  background-image: url("images/backgrounds/bg1H.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #d3d3d3;
  padding: 5vw 5vw 20vw 5vw;
}

.top-bar, .nav-bar {
  display: none;
}

.menu-icon .fa-bars {
  cursor: pointer;
  font-size: 55px;
  color: #272a31;
  margin: auto auto 8% 4%;
  transition: transform 0.48s;
}

.menu-icon .fa-bars:hover {
  transform: scale(1.3);
}

.menu-icon .fa-bars:active {
  transform: scale(1.1);
}

.content .line1 {
  font-size: 2rem;
  font-weight: lighter;
  margin-bottom: 0;
}

.content .line2 {
  display: inline;
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: -1.5px;
  line-height: 50px;
  margin-top: 0;
}

.content p {
  font-size: 1.25rem;
  padding: 3%;
  border: 2px solid #fff;
  line-height: 35px;
  letter-spacing: -1px;
}

.line3 {
  display: inline;
  font-weight: 800;
  font-size: 2rem;
  letter-spacing: 0.1px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.line4 {
  font-size: 1.25rem;
  margin: 0;
  font-weight: lighter;
}

/* SECTION 2 Program Content Section */
#program-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-image: url("images/backgrounds/black_bgH.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(41, 36, 36);
  padding: 7vw 5vw;
}

#program-section h2,
.cont p,
.btn-join,
#partner-section h2 {
  color: #fff;
}

#program-section h2 {
  font-size: 1.6rem;
}

.divider1 {
  height: 4px;
  width: 10vw;
  background-color: #ec5242;
  border-radius: 4px;
}

#cont-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 7vw 0;
}

#cont-container h3 {
  color: #ec5242;
}

.cont {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 0.253);
  padding: 4%;
  margin-bottom: 3%;
  border-radius: 1px;
  box-sizing: border-box;
  border: 2px solid transparent;
  transition: all 0.05s;
}

.cont:hover {
  border: 2px solid #fff;
}

.cont i,
.cont h3 {
  margin: 0;
  padding-right: 5px;
}

.cont i {
  width: 15%;
}

.cont h3 {
  width: 25%;
  font-size: 1.5rem;
}

.cont p {
  width: 60%;
  margin: 0;
  font-size: 1.1rem;
  line-height: 30px;
}

.fas, .far {
  font-size: 50px;
  color: rgb(255, 255, 255);
}

.desktop {
  display: none;
}

.btn-join {
  background-color: #ec5242;
  text-decoration: none;
  padding: 30px 40px;
  margin-bottom: 7vw;
  font-size: 1.4rem;
  transition: box-shadow 0.35s, transform 0.5s;
}

.btn-join:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px #000;
}

.btn-join:active {
  /* color: #fff;
  background-color: #ec5242; */
  background-color: #ec2e19;
}

@media (max-width: 630px) {
  .cont {
    flex-wrap: wrap;
  }

  .cont i,
  .cont h3
   {
    margin-bottom: 10px;
    margin-right: 20px;
  }

  .cont p {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .cont i,
  .cont h3
   {
    width: 100%;
  }
}

/* SECTION 3 Featured Teachers */
#featured-teachers {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7vw 5vw;
}

#featured-teachers h2,
.details h3,
.details p {
  color: #272a31;
}


#featured-teachers h2 {
  font-size: 1.6rem;
}

.prof {
  display: flex;
  margin-bottom: 5vw;
  box-shadow: 0 0 20px #90807d;
  border-radius: 5px;
  padding: 5vw;
}

.prof1 {
  margin-top: 5vw;
}

.prof6 {
  align-self: stretch;
}

.hide {
  display: none;
}

.prof img {
  width: 200px;
  /* border: 15px solid #272a3181; */
}

.details h3 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 8px;
}
 .details em {
   font-size: 1.1rem;
   color: #ec5242;
 }

 .divider2 {
  height: 2px;
  width: 5vw;
  background-color: #615958;
  border-radius: 4px;
  margin-top: 10px;
 }

 .details p {
  line-height: 25px;
  font-weight: bold;
 }

 #btn-more {
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
   align-items: center;
   font-size: 1.2rem;
   color: #272a31;
   width: 60%;
   border: 1.5px solid #b3b2b2;
   border-radius: 4px;
   background-color: transparent;
   cursor: pointer;
   transition: all 0.40s;
 }
 
 #btn-more span {
   display: inline-block;
   font-size: 1.5rem;
   color: #ec5242;
   font-weight: bold;
   padding: 15px;
   transform: rotate(90deg);
  }
  
  #btn-more:hover {
    transform: scale(1.1);
  }
  
  #btn-more:active {
    transform: scale(1);
    box-shadow: 0 0 10px #615958;
   border: 1.5px solid #000;
  }

/* MEDIA */
@media (max-width: 520px) {
  .prof {
    flex-direction: column;
  }
}

/* SECTION 3 */
#partner-section {
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 5vw 10vw;
  background-color: #3a3939;
}

#partner-section h2 {
  margin-bottom: 10px;
}

.links ul {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.links li {
  padding: 5px 20px 0 5px;
}

.links a {
  text-decoration: none;
  display: inline-block;
  color: #615958;
  font-size: 2.5rem;
}

#link1 {
  font-weight: bold;
}

#link2 {
  font-size: 2.2rem;
  font-weight: lighter;
  font-style: normal;
}

#link3 {
  font-size: 3rem;
  font-weight: 900;
}

#link4 {
  font-size: 1.8rem;
}

#link5 {
  font-size: 2rem;
}

/* FOOTER */
footer {
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5vw;
  flex-wrap: wrap;
}

footer img {
  width: 200px;
  margin-right: 25px;
}

footer h5 {
  color: #272a31;
  flex: 2 1;
}