:root {
  --white: #fff;
  --lightGray: #d3d3d3;
  --darkGray: #272a31;
  --black: #000;
  --orange: #ec5242;
}

/* Common Styles */
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

a {
  text-decoration: transparent;
}

.page-padding {
  padding: 0 10vw;
}

.upper-case {
  text-transform: uppercase;
}

.p-format {
  font-size: 18px;
  line-height: 28px;
}

.desktop {
  display: none;
}

/* Navigation Bar 1 */
#bar-1 {
  background-color: var(--darkGray);
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: right;
}

.link-bar-1 {
  font-weight: 100;
  color: var(--white);
  padding-left: 18px;
  transform: scale(1.3);
  transition: all 0.3s;
}

.fab {
  font-size: 20px;
  position: relative;
  transition: all 0.3s;
}

.fab:hover {
  color: var(--orange);
  transform: scale(1.3);
}

.fab:active {
  color: var(--white);
}

.text-link:hover {
  text-decoration: underline var(--orange);
  color: var(--orange);
}

.text-link:active {
  text-decoration: underline var(--white);
  color: var(--white);
}

/* Navigation Bar 2 */
#bar-2 {
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: var(--white);
}

#logo-menu img {
  width: 100px;
}

.page-link {
  color: var(--darkGray);
  font-size: 20px;
  font-weight: 600;
  transition: all 0.4s;
}

.page-link:hover {
  text-decoration: underline var(--darkGray);
}

.page-link:active {
  color: var(--orange);
  text-decoration: underline var(--orange);
}

.page-link, #alone-link {
  margin-left: 25px;
}

#alone-link {
  color: var(--orange);
  text-align: center;
  font-weight: 600;
  padding: 15px;
  border: 4px solid var(--orange);
  transition: all 0.4s;
}

#alone-link:hover {
  background-color: var(--orange);
  font-weight: 900;
  color: var(--white);
  border: 4px solid var(--darkGray);
}

/* Menu Icon */
#menu-icon {
  font-size: 54px;
  line-height: 48px;
  color: var(--darkGray);
  width: auto;
  padding: 10px;
  margin-bottom: 15%;
  border: 3px solid var(--orange);
  border-radius: 4px;
}

/* Main Section */
#main-section {
  background-color: var(--lightGray);
  background-image: url('images/backgrounds/section1_bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 10vw;
  padding-bottom: 10vw;
}

#header-group-main h2 {
  font-size: 39px;
  font-weight: 400;
  color: var(--orange);
  margin: 0;
}

#header-group-main h1 {
  font-family: 'COCOGOOSE', 'Lato',sans-serif;
  font-size: 49px;
  font-weight: 1000;
  line-height: 50px;
  color: var(--orange);
  margin: 30px 0;
}

#description-main {
  background-color: #f6f6f7;
  color: var(--darkGray);
  padding: 20px;
  border: 3px solid var(--white);
  max-width: 600px;
}

#more-info-main {
  color: var(--darkGray);
}

#more-info-main h2 {
  font-size: 30px;
  font-weight: 900;
}

#more-info-main h3 {
  font-size: 21px;
  margin: 0;
}

/* Program Content Section */
#course-content {
  background-color: var(--darkGray);
  color: var(--white);
}

#content-header-group {
  text-align: center;
}

#content-header-group,
#content-footer {
  padding: 6vw 0;
}

#content-header-group h2 {
  font-size: 27px;
  margin-top: 0;
}

.orange-divider {
  width: 60px;
  height: 2px;
  margin: auto;
  border-radius: 5px;
  background-color: var(--orange);
}

#content-cards {
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #d3d3d32f;
  padding: 25px;
  border: 2px solid transparent;
  border-radius: 2px;
  margin: 3% auto;
}

.card:hover {
  border: 2px solid var(--white);
}

.card-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 35%;
}

.card-header h3 {
  font-size: 24px;
  width: 60%;
  color: var(--orange);
}

.fas,
.far {
  text-align: center;
  width: 25%;
  font-size: 48px;
}

.card p {
  margin: 0;
  width: 60%;
}

#content-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#join-btn {
  font-size: 24px;
  font-weight: 600;
  color: var(--white);
  background-color: #fb4430;
  max-width: max-content;
  padding: 35px 65px;
}

#join-btn:hover {
  box-shadow: 0 0 20px var(--white);
}

#join-btn:active {
  box-shadow: none;
}

#see-program-link {
  font-size: 20px;
  text-decoration: underline var(--white);
  color: var(--white);
}

#see-program-link:hover {
  text-decoration: underline var(--orange);
  color: var(--orange);
}

#see-program-link:active {
  text-decoration: underline var(--white);
  color: var(--white);
}

/* Featured Teachers Section */
#teachers-header {
  font-size: 27px;
  text-align: center;
  margin: 10% 0 12px 0;
}

#teachers-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 10% 0;
}

.teacher {
  display: flex;
  flex-direction: column;
  background-color: #d3d3d31f;
  margin: 20px 0;
}

.teacher-img-container {
  box-sizing: border-box;
  background-image: url('images/backgrounds/bg-chess.png');
  background-repeat: no-repeat;
  background-size: 40%;
  min-width: 180px;
  min-height: 180px;
  max-width: 180px;
  max-height: 180px;
  margin-right: 25px;
}

.teacher-photo {
  max-width: 90%;
  max-height: 90%;
  margin-top: 10%;
  margin-left: 10%;
  border: 1px solid var(--lightGray);
}

.teacher-name {
  font-size: 24px;
  
  margin-top: 0;
  margin-bottom: 0;
}

.teacher-degree {
  font-size: 18px;
  font-style: italic;
  color: var(--orange);
}

.dark-divider {
  width: 40px;
  height: 2px;
  border-radius: 5px;
  background-color: var(--lightGray);
}

.teacher-description {
  color: var(--darkGray);
}

#more-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: var(--darkGray);
  padding: 15px;
  border: 2px solid var(--lightGray);
  margin: 0 auto 10% auto;
  border-radius: 3px;
  max-width: 400px;
  transition: all 0.3s;
}

#angle-down-icon {
  font-size: 30px;
  color: var(--orange);
  padding: 5px 10px;
  border-radius: 50%;
  width: 20px;
  transition: all 0.4s;
}

#more-btn:hover #angle-down-icon {
  transform: scale(1.2);
  color: var(--white);
}

#more-btn:hover{
  background-color: var(--orange);
  color: var(--white);
  border: 2px solid var(--orange);
}

#more-btn:active {
  background-color: var(--white);
  color: var(--black);
  border: 2px solid var(--lightGray);
}

#more-btn:active #angle-down-icon {
  color: var(--orange);
}

/* Partner Section */
#partner-section {
  background-color: var(--darkGray);
  color: var(--lightGray);
}

#partner-header {
  text-align: center;
  font-size: 27px;
  padding-top: 5vw;
  margin: 0 0 10px 0;
}

#partner-link-group {
  text-align: center;
  padding: 3vw 0 5vw 0;
}

.partner-link {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--lightGray);
  margin: 5px 20px;
}

.partner-link:hover,
.fa-airbnb:hover {
  color: var(--white);
  text-shadow: 0 0 15px var(--orange);
  transform: none;
}

.partner-link:active {
  text-shadow: none;
}

#mozilla-link {
  font-size: 2.5rem;
  font-weight: bold;
}

#google-link {
  font-size: 2.2rem;
  font-weight: lighter;
  font-style: normal;
}

#naver-link {
  font-size: 3rem;
  font-weight: 900;
}

#daumkakao-link {
  font-size: 1.8rem;
}

#airbnb-link,
.fa-airbnb {
  font-size: 2rem;
}

/* Footer */
footer {
  justify-content: space-between;
  align-items: center;
  flex-flow: wrap;
  margin-top: 20px;
  margin-bottom: 30px;
}

#footer-logo {
  width: 200px;
  height: auto;
  margin: auto;
}

#footer-text {
  text-align: center;
  margin: auto;
}

/* Media Queries */
@media (min-width: 992px) {
  #teachers-info {
    flex-flow: row wrap;
  }

  .teacher {
    width: 49%;
  }
}

@media (max-width: 740px) {
  .card-header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media (min-width: 690px) {
}

@media (max-width: 600px), (min-width: 768px) {
  .card {
    flex-direction: column;
  }

  .card-header {
    width: 100%;
  }

  .card-header h3,
  .fas,
  .far,
  .card p  {
    width: 100%;
  }
}
